{% extends "users/home.html" %}
{% block content %}
<style>
    .form-box {
        height: 350px;
    }
</style>
<div class="form-box">


    <div class="form-input">
        <h2>{{user.username}}</h2>
        <p>{{user.email}}</p>
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-input">{{u_form.username }}</div>
        <div class="form-input">{{u_form.email }}</div>




        <div>
            <button class="submit-btn" type="submit">Update</button>
        </div>
        
    </form>
    <div>
        <button class="submit-btn link" >Back</button>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var toggleButton1 = document.querySelector(".link");
        toggleButton1.addEventListener("click", function () {

            window.location.href = "http://127.0.0.1:8000/index/";
        });

       
    });
    </script>
{% endblock content %}